*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-outputs.json

#maintenance
**/.history/
**/tmp/
**/temp/
**/logs/
**/.scratch/
set-env.bat

#caches
**/.cache/
**/cache/

#private
acc-settings.json
